{% extends 'home/index.html' %}
{% block form %}
    <form action="{{ url_for('add') }}" method="POST" class="form-inline">
        {{ form.hidden_tag() }}
        <div class="form-group">

            {{ form.task_title.label(class="form-control-label") }}
            {{ form.task_title(class="form-control form-control-lg") }}


        </div>
        <div class="form-group">

            {{ form.task_desc.label(class="form-control-label") }}
            {{ form.task_desc(class="form-control form-control-lg") }}

        </div>
        <div class="form-group">

            {{ form.task_status.label(class="form-control-label") }}
            {{ form.task_status(class="form-control form-control-lg") }}

        </div>
        <div class="form-group">

            {{ form.submit.label(class="form-control-label") }}
            {{ form.submit(class="form-control form-control-lg") }}

        </div>

    </form>
{% endblock %}
{% block tasks %}

    {% for i in tasks %}
        <tr class="fw-normal">
            <th>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                     alt="avatar 1"
                     style="width: 45px; height: auto;">
                <span class="ms-2">{{ i.title }}</span>
            </th>
            <td class="align-middle">
                <span>{{ i.description }}</span>
            </td>
            <td class="align-middle">
                <h6 class="mb-0"><span class="badge
                                        {% if i.status == '0' %}
                                        bg-danger
                                        {% elif i.status == '1' %}
                                        bg-warning
                                        {% elif i.status == '2' %}
                                        bg-success
                                        {% endif %}
                                        ">
                                            {% if i.status == '0' %}
                                                High Priority
                                            {% elif i.status == '1' %}
                                                Mid Priority
                                            {% elif i.status == '2' %}
                                                Low Priority
                                            {% endif %}</span></h6>
            </td>
            <td class="align-middle">
                <a href="update/{{ i.id }}" data-mdb-toggle="tooltip" title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                <a href="del/{{ i.id }}" data-mdb-toggle="tooltip" title="Remove"><i
                        class="fas fa-trash-alt fa-lg text-warning"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}